* {
    border: 1px dotted red
} 

body {
    background-color: lightgray;
}

h2 {
    text-align: center;
}

form {
    background-color: rgb(248, 230, 148);
    color: black;
    padding: 5px;

}

input, textarea {
    margin-bottom: 5px;
}

label {
    background-color: lightgray;
    border-radius: 5px;
}

.see {
    text-align: center;
}

.submit {
    text-align: center;
}

.background {
    width: 100%;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.centered {
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.founder-img {
    width: 33%;
}

.container {
    background-color: rgba(128, 128, 128, 0.432);
}